.loginContainer{
  margin-top: 72px;
}
.loginText{
  
  width: 50%;
}
.loginForm{

}
.loginText h2{
  font-size: 50px;
  margin-left: 20px;
  color: rgb(27,153,205);
}
.loginContainerInner{
  margin: 1% 10%;
  padding: 1%;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
}
.login {
  width: 100%;
  max-width: 40rem;
  height: 300px;
  margin: 2rem auto;
  padding: 2rem;
  /* background-color: red; */
}

.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: #464646;
  margin-bottom: 0.5rem;
}

.control input {
  flex: 3;
  font: inherit;
  padding: 0.70rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.control input:focus {
  outline: none;
  border-color: #4f005f;
  background: #f6dbfc;
}

.control.invalid input {
  border-color: red;
  background: #fbdada;
}

.actions {
  text-align: center;
}

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }

}
@media(max-width:768px){
  .loginContainerInner{
    display: block;
  }
  .loginText{
  
    width: 100%;
  }
}